*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-body{
    width: 100%;
    max-width: 1920px;
    background-color: rgb(24, 23, 23);
    overflow: auto;
    height: auto;
    margin:0 auto;
    border: 1px solid black;
}
.container{
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 37px;
    height: 170px;
}
.Infr-logo{
    margin-top: 9px;
}
.block{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #E4B564;
}
.block_button1{
    width: 218px;
}

.button-content{
    display: flex;
    height: 30px;
    width: 167px;
    line-height: 30px;
    font-size: 18px;
    color: #E4B564;
    justify-content: space-between;
    align-items: center;
}

.main-container{
    min-height: 2600px;
    width: 100%;
    background-color: rgb(24, 23, 23); 
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

}
.main-title{
    font-size: 50px;
    font-weight: 700;
    color: #FFFF  ;
}
.outdoor-description{
    display: inline-block;
    max-width: 1182px;
    margin-top: 41px;
    font-weight: 700;
    font-size: 20px;
    color:#FFFF;
}
.grid-wrapper{
    margin-top: 94px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    font-size: 20px;
    color: #FFFF;
}



.item1{
    grid-area: 1 / 1 / 2/ 3;
    width: 467px;
    height: 468px;
    background-color: #634F2C;
}
.item2{
    grid-area: 1 / 3 / 2 / 5;
    width: 467px;
    height: 468px;
    background-color: #B4A385;
}
.item3{
    grid-area: 1 / 5 / 2 / 7;
    width: 467px;
    height: 468px;
    background-color: #E4B564;
}
.item4{
    grid-area: 2 / 1 / 3 / 4 ;
    background-color: #635A4A;
}
.item5{
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
}
.name{
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    margin-top: 220px;
} 
.name2{
    margin-top: 206px;
}

.title2{
    margin-top: 160px;
}
.box-wrapper{
    margin-top: 94px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 1460px;
    height: 897px;
    justify-content: space-between;

}
.box2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 468px;
    height: 897px;
    font-size: 20px;
    color: #FFFF;
}
.item1-2{
    box-sizing: border-box;
    height: 313px;
    background-color: #0E0E0E;
}
.item2-2{
    box-sizing: border-box;
    height: 560px;
    background-color: #1F1F1F;
}
.item3-2{
    box-sizing: border-box;
    height: 439px;
    background-color:#242424 ;
}
.item4-2{
    box-sizing: border-box;
    height: 405px;
    color: #000000;
    background-color:#E4B564 ;
}
.item5-2{
    box-sizing: border-box;
    height: 255px;
    background-color: #1F1F1F;    
}
.item6-2{
    box-sizing: border-box;
    height: 313px;
    background-color: #0E0E0E;
}
.item7-2{
    box-sizing: border-box;
    height: 277px;
    background-color: #0A0909;
}
.item-name{
    margin-left: 52px;
    margin-top: 44px;
}


.footer-container{
    min-height: 1054px;
    background-color: #0E0E0E;
    margin-bottom: 238px;
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper-footer{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.title3{
    margin-top: 172px;
}
.block_button2{
    width: 180px;
    margin-top: 179px; 
}

.content2{
    display: block;
    text-align: center;
}

.grid-wrapper-footer{
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    color: #FFFF;
}
.item1-3{
    grid-area: 1 / 1 / 2 / 2;
    background-color: #634F2C;
}
.item2-3{
    grid-area: 1 / 2 / 2 / 3; 
    background-color: #E8D2ABC2;
}
.item3-3{
    grid-area: 1 / 3 / 2 / 4;
    background-color: #E4B564;
}
.item4-3{
    grid-area: 2 / 1 / 3 / 2;
    background-color: #635A4A;
}
.item5-3{
    grid-area: 2 / 2 / 3 / 3;
    background-color: #B08C4D;
}
.item6-3{
    grid-area: 2 / 3 / 3 / 4;
    background-color: #634F2C;
}

img.logo{
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo1{
    margin-top: 171px;
}
.logo2{
    margin-top: 61px;
}
.logo3{
    margin-top: 174px;
}
.logo4{
    margin-top: 169px;
}
.logo_text{
    display: block;
    width: 326px;
    height: 140px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}
.montage1{
    font-weight: 600;
}
.montage2{
    font-weight: 400;
}
